*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  overflow-x: hidden; 
}

section {
    height: 100vh;
    width: 100vw;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}


/* CABEÇALHO (INICIO) */

.estetica-cabecalho{
  background-color: #DC4405;
  display: flex;
  justify-content: center;
 
}

@media (max-width: 576px) {
    .estetica-cabecalho{
      background-color: #DC4405;
      display: flex;
      justify-content: center;
      
    
 
}
}

.bolha-navbar {
  position: fixed;
  bottom: 20px;               
  left: 50%;                 
  transform: translateX(-50%);
  z-index: 1000;
}

.scrollBolha{
  opacity: 0;
   transform: translate(-50%, -50%) translateY(-100%);
  transition: all 0.5s ease;
}

.scrollBolha.showBolha{
  opacity: 1;
   transform: translate(-50%, -50%) translateY(0);
}

.estetica-navbar {
  background-color: #DC4405 ;
  border-radius: 30px;
  width: 80vh;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(45deg, #DC4405, #FF5C00 );
  
  
  

}

.estetica-navbar a {
    text-align: center;
    position: relative;
}

.estetica-navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.estetica-navbar a:hover::after,
.estetica-navbar a.active::after {
    width: 100%;
}

@media (max-width: 576px) {
    .estetica-navbar{
        background-color: #DC4405 ;
        border-radius: 30px;
        width: 40vh;
        display: flex;
        gap: 15px;
    }
}
/* CABEÇALHO (FIM) */

@media (min-width: 992px) {
    #HISTORIA{
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 576px) {
    #HISTORIA{
        height: 160vh;
        width: 100%;
        padding: 8% 0% 0% 0%;
    }
}


.container-historia{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {
  .container-historia{
    display: flex;
    flex-direction: column;
  }
  .historia{
  background-color: #DC4405;
  width: 100%;
  padding: 5%;
  min-height: 400px
  }

  .img-historia{
 
  padding: 15% 15% 15% 20%;
}
}

.historia{
  background-color: #DC4405;
  width: 50%;
  padding: 5%;
  height: 700px;
}

.titulo-historia{
  margin-top: 6%;
  color: white;
}

.text-historia{
  margin-top: 20%;
  font-size: 20px;
  color: white;
}

.text2-historia{
  font-size: 20px;
  color: white;
}

.img-historia{
  display: flex;
  justify-content: center;
  margin-top: 15%;
  padding: 4% 0% 10% 0%;
}


@media (max-width: 576px) {
    .img_sobre{
        padding: 0% 0% 10% 0%;
    }
}

/* HISTORIA (FIM) */

#CARDS{
  height: 100vh;
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-items: baseline;

}

.card-img-top {
  object-fit: cover;
  height: 150px; 
}

.cor_cards{
  background-color: #DC4405;
  height: 275px;
}

.card-title{
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 4%;
}


.card-text{
  font-size: 18px;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
  color: white;
  margin-top: 8%;
  
}

.bloco-redes {
  width: 80%;                
  height: 350px;
  border-radius: 0px 50px 50px 0px;
  background-color: #DC4405; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo-redes{
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.text-redes{
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
  color: white;
}
.rodape {
  background-color: #DC4405;
  width: 100%;
  height: 25vh;
  margin-top: 6%;
}

.hidden{
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show{
  opacity:1;
  filter: blur(0px);
  transition: all 1s;
  transform: translateX(0);
}

.valores-swift :nth-child(2){
  transition-delay: 400ms;
}

.valores-swift :nth-child(3){
  transition-delay: 700ms;
}
.valores-swift :nth-child(4){
  transition-delay: 1000ms;
}